PORT=300
MONGODB_USER=username
MONGODB_PASSWORD=password
MONGODB_URL=cluster0.test.mongodb.net
MONGODB_DB=database

JWT_SECRET=VOQjLdrpG1TWCHhDzv3o

SMTP_HOST=
SMTP_PORT=
SMTP_LOGIN=
SMTP_PASSWORD=
SMTP_FROM=

APP_DOMAIN=http://localhost:3000

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

UPLOAD_TO_CLOUDINARY=true